---
export const prerender = true;

import type { SupportedLng } from "@packages/localization";
import { Separator } from "@packages/ui/components/separator";
import { supportedLanguages } from "@/i18n/config";
import StickyNavbar from "../../components/StickyNavbar.astro";
import Layout from "../../layouts/Landing.astro";
import CTA from "../../sections/CTA.astro";
import EnterpriseCollaboration from "../../sections/enterprise/EnterpriseCollaboration.astro";
import EnterpriseCosts from "../../sections/enterprise/EnterpriseCosts.astro";
import EnterpriseFAQ from "../../sections/enterprise/EnterpriseFAQ.astro";
import EnterpriseHero from "../../sections/enterprise/EnterpriseHero.astro";
import EnterpriseOptimization from "../../sections/enterprise/EnterpriseOptimization.astro";
import EnterprisePerformance from "../../sections/enterprise/EnterprisePerformance.astro";
import EnterpriseSupport from "../../sections/enterprise/EnterpriseSupport.astro";
import Footer from "../../sections/Footer.astro";

export function getStaticPaths() {
   return supportedLanguages.map((locale) => ({
      params: { locale: locale === "pt-BR" ? undefined : locale },
   }));
}

const { locale } = Astro.params;
const lang = (locale || "pt-BR") as SupportedLng;
---

<Layout lang={lang}>
   <div class="flex flex-col gap-2">
      <StickyNavbar lang={lang}/>

      <EnterpriseHero  />

      <!-- Performance Section -->
      <EnterprisePerformance  />
      <!-- Collaboration Section -->

       <Separator className="bg-gradient-to-r from-transparent via-primary/20 to-transparent"/>
       <EnterpriseCollaboration  />
       <Separator className="bg-gradient-to-r from-transparent via-primary/20 to-transparent"/>
       
       <EnterpriseSupport  />
       
       <Separator className="bg-gradient-to-r from-transparent via-primary/20 to-transparent"/>

       <EnterpriseOptimization  />

       <EnterpriseCosts  />

       <Separator className="bg-gradient-to-r from-transparent via-primary/20 to-transparent"/>
       <EnterpriseFAQ  />
      <CTA />
      <Footer lang={lang}/>
   </div>
</Layout>

